/* * {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    
} */

.paginainiciallink {

    padding-top: 12em;
    font-size: 20px;
}

.texto-alinhado-no-centro
{
    background-color: #7002f5;
    text-align: center;
    
    
}


.titulo {

    background-color: #BB86FC;
    /* width: 22em; */
    box-sizing: border-box;
    width: 44.2em;
    padding: 1em;
    
    text-align: center;
}




.cabecalho {

    background-color: #BB86FC;
}

.text {

    color: #ffff;
    padding: 1em;
    border: 2em;
}

.tabela {

    background-color: #424250;

}